* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans Code", monospace;
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://cdn.pixabay.com/photo/2020/06/01/18/47/math-5247958_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.calc-container {
  width: 375px;
  height: 400px;
  border: black solid 2px;
  border-radius: 8px;
  margin: 5rem auto;
  background-color: #bebab6;
}

/* 

Numbers

*/

.numbers {
  display: flex;
  background-color: aliceblue;
  width: 25%;
  border: black solid 2px;
  border-radius: 9px;
  margin: 2rem auto;
  justify-content: center;
  padding: 0.3rem;
  column-gap: 0.7rem;
}

/* 

Buttons

*/

.btn {
  background-color: aqua;
  border: black solid 2px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 0 auto;
  justify-items: center;
  row-gap: 1rem;
}

.clear {
  width: 30%;
  margin: 1rem auto;
}

.answer {
  width: 30%;
  margin: 3rem auto;
  font-size: 24px;
}
